<!-- Bu spini data yüklü değilse göster -->
<!-- o yüzden ngIf ile condition yazzdık -->
<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
    <label for="filterText" class="form-label">Ürün Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz">
</div>
<!-- banana notation [()] araştır.-->
<!-- filterText alanına inputu bağlamak için bunu yapmamız gerekiyor [(ngModel)]="filterText" -->
<!-- 21.40 dk -->
<div *ngIf="filterText" class="alert alert-success">
    {{filterText}} aradınız
</div>


<table ngIf="dataLoaded == true" class="table">
    <thead>
        <th>Id</th>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Kdv'li Fiyat</th>
        <th>Stok Adedi</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | filterPipe:filterText"><!--listenin kendisine uyguladığımız için bu pipe ı-->
            <td>{{product.productId}}</td>
            <td>{{product.productName | uppercase }}</td><!--pipe(bunlar build-in pipe yani angular da kendinde olan)-->
            <td>{{product.categoryId | lowercase }} </td><!--pipe-->
            <td>{{product.unitPrice}}</td>
            <td>{{product.unitPrice | vatAdded:10 | currency }}</td><!--piplara parametre verirken : 10 gibi |vatAdded:10:20:30 -->
            <td>{{product.unitsInStock}}</td>
            <td><button (click)="addToCard(product)" type="button" class="btn btn-success">Sepete Ekle</button></td>
        </tr>
    </tbody>    
</table>
<!-- pipe elinizdeki veriyi görsel olarak daha farklı şekilde göstermek için kullanılır -->
